@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gaegu&display=swap');


:root {
    --bg-color: #1c1a30;
    --white: #FFFFFF;
    --color-a: #1B213170;
    --color-b: #41466570;
    --color-c: #7D576370;
    --color-d: #C5BBDC70;
    --color-d-light-shadow: #C5BBDC00;
    --color-d-dark-shadow: #C5BBDC;
}

* {
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
    color: var(--white);

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Gaegu", sans-serif;
    font-size: 26px;
}

h2 {
    font-family: "Cedarville Cursive", cursive;
    font-size: 8vw;
    line-height: 1;
}

h3 {
    font-family: "Gaegu", sans-serif;
    font-size: 4vw;
}

body {
    background-color: var(--bg-color);
}

.container-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

.container-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at 50% 80%, var(--color-d-light-shadow), var(--color-d-dark-shadow));
    opacity: 0.3; /* Apply opacity only to the background */
    mix-blend-mode: screen;
    z-index: -1; /* Place it behind the content */
}

.content-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: none;
    opacity: 1; /* Full opacity for the content */
    mix-blend-mode: normal;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    z-index: 0;
}

.album-cover-frame {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 3vw var(--color-d-dark-shadow);
    mix-blend-mode: lighten;
    overflow: hidden;
    z-index: 0;
}

#cover-art {
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
}

.song-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vw;
}

.upper-song-info-container {
    width: 100%;
    height: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-container {
    display: flex;
    flex-direction: column;
}

.custom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5vw;
    background-color: var(--white);
    border-radius: 2px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4vw;
    aspect-ratio: 1 / 1;
    background: url('../assets/icons/slider-heart.png') center/contain no-repeat;
    cursor: pointer;
  }

.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
}

/* use # for id */
button {
    all: unset;
    width: 9vw;
    aspect-ratio: 1 / 1;
}

button img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#prev-btn img {
    transform: scaleX(-1);
}
